@import "about";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #2A135B;
    font-family: 'Open sans';
    color: white;
}
.container{
    width: 90%;
    margin: auto;
    max-width: 1520px;
}
header{
   // height: 100vh;
    background-image: url("../img/bcg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    nav{
        align-items: center;
        padding-top: 64px;
        display: flex;
        justify-content: space-between;
        .logo{
            font-size: 32px;
            line-height: 43px;
            font-weight: 500;
        }
        .toggler {
            margin-left: 5px;
            border: none;
            outline: none;
            position: relative;
            left: 59%;
            width: 30px;
            height: 26px;
            padding: 0;
            background: transparent;
            opacity: 0;
            z-index: 11112 !important;
          
        }
        .toggler:hover{
            cursor: pointer;
        }

        .toggler span {
            transition: all 0.5s ease;
            width: 30px;
            height: 3px;
            background: #00D3FF;
            position: absolute;
            right: 0;
            border-radius: 55px;
        }
        .toggler span:first-child {
            top: 0px;
        }
        .toggler span:nth-child(2) {
            top: 10px;
        }
        .toggler span:last-child {
            top: 20px;
        }
        
        .toggler.open span {
            transition: all 0.3s ease;
        }
        .toggler.open span:first-child {
             transform: rotate(45deg);
             top: 10px;
        }
        .toggler.open span:nth-child(2) {
             display: none;
        }
        .toggler.open span:last-child {
             transform: rotate(-45deg);
             top: 10px;
        }

        .nav-links{
            ul{
                list-style: none;
                display: flex;
                li{
                    margin-left: 25px;
                    a{
                        text-decoration: none;
                        color: white;
                        opacity: 0.4;
                        font-size: 28px;
                        line-height: 48px;

                    }
                    a:after {
                        display: block;
                        content: "";
                        border-bottom: 1px solid white;
                        transform: scaleX(0);
                        transition: transform 250ms ease-in-out;
                        transform-origin: 100% 50%;
                        
                        
                    }
                    a:hover:after {
                        transform: scaleX(1);
                        transform-origin: 0 50%;
                    }
                   
                }
            }
        }

    }
    .text-left{
        height: 100%;
        padding-top: 272px;
        padding-bottom: 220px;
        max-width: 1000px;
         h3{
             
             font-size: 65px;
             line-height: 88px;
             
             span{
                 color: #00D3FF;
             }
         }
         p{

             width: 85%;
            padding-top: 61px;
            font-size: 32px;
            line-height: 43px;
            color: white;
            opacity: 0.6;
            padding-bottom: 61px !important;
         }
         a{
             display: block;
             //margin-top: 61px;
             //text-transform: uppercase;
             text-decoration: none;
             background-image: linear-gradient(90deg,#00D3FF,#DE00D6);
             width: 288px;
             height: 86px;
             color: white;
             text-align: center;
             font-size: 27px;
             font-weight: 500;
             padding: 25px 23px;
             transition: transform 0.5s;
         }
         a:hover{
             transform: scale(1.2);
         }
    }
}
#Features{
    background-image: url("../img/Screenshot_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container{
        h3{
            position: relative;
            padding-top: 120px;
            margin-bottom: 126px;
            text-align: center;
            font-size: 55px;
            color: white;
            font-weight: 500;
            span{
                color: #00D3FF;

            }
        }
        h3:after{
            position: absolute;
            top: 200px;
            left: 46.5%;
            display: block;
            content: "";
            border-bottom: 0.5px solid white;
            width: 100px;
        }
        .cards{
            display: flex;
            justify-content: space-between;
            padding-bottom: 117px;
            .card{
                border-radius: 6px !important;
                width: 29.33%;
                height: 393px;
                .nalt{
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                    display: flex;
                    position: relative;
                    width: 100%;
                    height: 164px;
                    background-color: #1B00A7;
                    .img{
                        position: absolute;
                        top: -35px;
                        left: 52px;
                        width: 132px;
                        height: 132px;
                        border-radius: 50%;
                        background-color: rgba(255,255,255,0.1);
                       display: flex;
                       justify-content: center;
                       align-items: center;
                        img{
                            
                            width: 104px;
                            height: 104px;
                        }
                    }
                   
                   
                   p{
                    font-size: 43px;
                    color: white;
                    padding-top: 51px;
                    padding-left: 235px;
                   }
                }
                .posht{
                   // border-radius: 6px;
                   border-bottom-left-radius: 6px;
                   border-bottom-right-radius: 6px;
                    background-color: #fff;
                    height: 229px;
                    h4{
                        padding-top: 40px;
                        font-size: 28px;
                        //line-height: 69px;
                        color: black;
                        padding-left: 40px;
                        font-weight: 400;

                    }
                    p{  
                        font-size: 17px;
                        line-height: 28px;
                        color: black;
                        opacity: 0.6;
                        padding: 15px 0;
                        padding-left: 40px;
                        //padding-bottom: 15px;
                    }
                    a{
                        
                        padding-left: 40px;
                        text-decoration: none;
                        font-size: 22px;
                        line-height: 36px;
                        color: #140A47;
                       // margin-bottom: 40px;
                        transition: font-size 0.5s;
                    }
                    a:hover{
                        font-size: 25px;
                    }
                }
            }
        }
        
    }
}
#Services{
    background-image: url("../img/Screenshot_2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container{
        h3{
            position: relative;
            padding-top: 112px;
            margin-bottom: 126px;
            text-align: center;
            font-size: 55px;
            color: white;
            font-weight: 500;
            span{
                color: #00D3FF;

            }
        }
        h3:after{
            position: absolute;
            top: 197.5px;
            left: 44.5%;
            display: block;
            content: "";
            border-bottom: 1px solid white;
            width: 100px;
            margin-bottom: 37.5px;
        }
        .items{
            display: flex;
            justify-content: space-between;
            margin-top: 70px;
            
            .item{
                width: 30.8%;
                height: 341px;
                .img{
                    width: 80px;
                    height: 80px;
                    margin: auto !important;
                }
               h6{
                   font-size: 34px;
                   //line-height: 58px;
                   padding: 30px 0;
               }
               p{
                   font-size: 28px;
                   line-height: 39px;
                   opacity: 0.6;
               }
            }
        }
    }
}

#Testimonials{
    
    background-image: url("../img/Screenshot_3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container{
        position: relative;
        h3{
            position: relative;
            padding-top: 243px;
            margin-bottom: 126px;
            text-align: center;
            font-size: 55px;
            color: white;
            font-weight: 500;
            span{
                color: #00D3FF;

            }
        }
        h3:after{
            position: absolute;
            top: 328px;
            left: 44.5%;
            display: block;
            content: "";
            border-bottom: 1px solid white;
            width: 100px;
            margin-bottom: 37.5px;
        }
        .slider-container{
            width: 100%;  
            
            .slider{
                
                width: 100%;
                // display: grid;
                // grid-template-columns: 1fr 1fr;
                //position: relative;
                // display: flex;
                // justify-content: space-between;
                // flex-wrap: wrap;
                .slide{
                    
                       
                    .quote{
                        position: relative;
                        background-image: url("../img/Group\ 1114.png");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;

                        width:  640px;
                        height: 268px;
                        display: flex;
                        
                        img{
                            position: absolute;
                            top: 49px;
                            left: 71px;

                            width: 54px;
                            height: 58px;
                        }
                        p{
                            padding-top: 50px;
                            padding-left: 199px;
                            padding-right: 63px;
                            font-size: 23px;
                            line-height: 43px;
                        }
                    }
                    .foto{
                       // width: fit-content;
                        margin-top: 41px;
                        display: flex;
                        align-items: center;
                        .img{
                            position: relative;
                            width: 134px;
                            height: 134px;
                            border-radius: 50%;
                            background-color: rgba(255,255,255,0.17);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img{
                                width: 108px;
                                height: 108px;
                            }
                        }
                        .content{
                            padding-left: 26px;
                            h5{
                                font-size: 36px;
                                line-height: 62px;
                                color: #00D3FF;
                                font-weight: 400;
                            }
                            p{
                                font-size: 22px;
                                line-height: 58px;
                                color: white;
                                opacity: 0.4;
                            }
                        }
                    
                    }
                }
            }
            // .slick-track{
            //     display: flex !important;
            //     justify-content: space-between !important;
            // }
            .slick-slide {
                margin-left: 199px;
                outline: none;
              }
            
              /* the parent */
              .slick-list {
                margin-left: -199px;
              }
            .slick-dots {
                display: flex;
                justify-content: center;
                
                margin-top: 98px;;
                padding: 1rem 0;
                padding-bottom: 250px;
                
                list-style-type: none;
                
                    li {
                        margin: 0 0.25rem;
                    }
                
                    button {
                        display: block;
                        width: 1rem;
                        height: 1rem;
                        padding: 0;
                        outline: none;
                        border: 1px solid #00D3FF;
                        border-radius: 100%;
                        background-color: transparent;
                        
                        text-indent: -9999px;
                    }
                
                    li.slick-active button {
                        background-color: #00D3FF;
                    }
                
            }
            .slick-dots button:hover{
                    cursor: pointer;
            }
        }  

        .free{
            position: absolute;
            bottom: -88px;

            margin-top: 88px;
            padding: 66px 100px;
            width: 100%;
            background-color: #1B00A7;
            border-radius: 6px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h5{
                font-size: 38px;
                font-weight: 500;
            }
            a{
                padding: 25px;
                text-decoration: none;
                color: #100848;
                font-size: 28px;
                background-color: white;
                border-radius: 6px;
                transition: transform 0.5s;
            }
            a:hover{
                transform: scale(1.2);
            }
        }
            
    }
}
footer{
    background-color: #100848;
    padding-bottom: 65px;
    .container{
        display: flex;
        justify-content: space-between;
        .nav{
            margin-top: 188px;
            display: flex;
            flex-direction: column;
            p{
                font-size: 28px;
                color: #00D3FF;
                padding-bottom: 38px;
            }
            a{
                position: relative;
                text-decoration: none;
                font-size: 28px;
                line-height: 60px;
                color: white;
                opacity: 0.6;
            }
            a:after {
                width: 50px;
                display: block;
                content: "";
                border-bottom: 0.5px solid white;
                transform: scaleX(0);
                transition: transform 250ms ease-in-out;
                transform-origin: 100% 50%;
                
                
            }
            a:hover:after {
                transform: scaleX(1);
                transform-origin: 0 50%;
            }
           
    
        }
        .cnt{
           .f2{
               margin-top: 60px;
               font-size: 28px;
               line-height: 60px;
               color: white;
               opacity: 0.6;
           }
        }
    }
  
}


@media screen and (max-width: 1842px){
    #Testimonials{
        .container{
            
            .slick-slide{
                margin-left: auto !important;
            }
            .slick-list {
                margin-left: auto !important;
              }
        }
    }
}
@media screen and (max-width: 1623px) and (min-width:726px){
    #Testimonials{
        .container{
            .slider-container{
                .slider{
                    width: 100% !important;
                    margin-top: auto !important;
                  
                    align-items: center !important;
                    .quote{
                        margin: auto !important;
                    }
                    .foto{
                        width: fit-content !important;
                        margin: auto !important;
                    }
                    
                }
            }
        }
    }
   
}    
@media screen and (max-width: 1623px){
    .free{
        padding: 25px 0 !important;
       // bottom: 100px;
        flex-direction: column;
        align-items: center;
        text-align: center;
       h5{
           font-size: 28px !important;
       }
        a{
            margin-top: 40px;
        }
    }
    footer{
        .container{
            flex-direction: column;
            align-items: center;
           justify-content: center;
           text-align: center;
           .nav{
               margin-top: 50px !important;
               a{
                   &:after{
                       position: absolute;
                       left: 38%;
                   }
               }
           }
           .nav:first-child{
               margin-top: 150px !important;
           }
        }
    }
}

@media screen and (max-width: 1745px){
    body{
        main{
            #Features{
                .container{
                    .cards{
                        flex-direction: column !important;
                        .card{
                            width: 50%;
                            margin: auto;
                            margin-bottom: 70px !important;
                            .posht{
                                p{
                                    width: 70% ;
                                }
                            }
                        }
                    }
                }
    
            }
        }
    }
    
     
}

@media screen and (max-width: 1288px){
    header{
        .container{
            nav{
                .nav-links{
                    ul{
                        li{
                            a{
                                font-size: 18px ;
                            }
                        }
                    }
                }
            }
        }
    }
    
   
}
@media screen and (max-width: 1208px){
    header{
        background-position: center;
        .container{
            .text-left{
                padding-top: 100px !important;
                padding-bottom: 100px !important;
                h3{
                    font-size: 50px;
                    line-height: 45px;
                   
                }
                p{
                    padding-top: 20px;
                    width: 50%;
                    font-size: 20px;
                    line-height: 25px;

                }
                
            }
        }
    }
    #Services{
        h3:after{
            top: 200px !important;
        }
        .container{
            .items{
                margin-top: 0 !important;
                flex-direction: column;
                justify-content: center;
                .item{
                    text-align: center;
                    width: 80%;
                    margin: auto;
                    align-items: center;
                    justify-content: center !important;
                    margin-bottom: 50px !important;
                    p{
                        width: 50%;
                        margin: auto;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1044px){
    
    #Features{
        .container{
            .cards{
                flex-direction: column !important;
                .card{
                    width: 90% !important;
                    margin: auto !important;
                    margin-bottom: 70px !important;
                    .posht{
                        p{
                            width: 90% !important ;
                        }
                    }
                }
            }
        }

    }
    #Services{
        .container{
            .items{
                flex-direction: column;
                justify-content: center;
                .item{
                    text-align: center;
                    width: 80%;
                    margin: auto;
                    align-items: center;
                    margin-bottom: 50px !important;
                    p{
                        width: 90%;
                        margin: auto;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1024px){
 header{
        //height: 764px;
     
        background-position: center;
    
        .container{
            nav{
                .toggler {
                    left: 3%;
                    opacity: 1 !important;
                
                }
               
              
                .toggler.open ~ .nav-links {
                    transform: translateX(0);
                }
                .nav-links {
                    transform: translateX(-1600px);
                    transition: transform 0.5s ease;
                    width: 101vw;
                    height: 100vh;
                    background-color: #F7F4FB;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    flex-direction: column;
                    ul{
                        flex-direction: column;
                        align-items: center;
                        padding-top: 50px;
                        li{  padding: 20px 0px;
                            margin-left: 0 !important;
                            a{
                                color: #000653 ;
                                opacity: 1;
                            }
                            a:after{
                                border-bottom: 2px solid #00D3FF!important;
                                font-size: 30px !important;
                            }
                        }
                    }
                    .toggler.open{
                        transform: translateY(-80px);
                        transition: transform 0.5s ease-in-out;
                        
                    }
                }    
            }
            
        }
    }
}
@media screen and (max-width: 726px){
    #Testimonials{
        .container{
            .slider-container{
                .slider{
                    .slide{
                        .quote{
                            width: 70% !important;
                            margin: auto !important;
                            height: 150px !important;
                            background-size: cover;
                            background-position: bottom;
                            
                            img{
                                top: 20px;
                                left: 10px;
                                width: 30px;
                                height: 30px;
                            }
                            p{
                                padding-left: 70px !important;
                                padding-top: 20px !important;
                                font-size: 16px;
                                line-height: 20px;
                                padding-right: 50px!important;
                                padding-bottom: 50px !important;
                                
                            }
                        }
                        .foto{
                            width: 70%;
                            margin: auto;
                            margin-top: 50px;
                            .img{
                                width: 100px;
                                height: 100px;
                                img{
                                    width: 90px;
                                    height: 90px;
                                }
                            }
                            .content{
                                h5{
                                    font-size: 25px;
                                    line-height: 30px;
                                }
                                p{
                                    font-size: 16px;
                                    line-height: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 449px){
    #Testimonials{
        .container{
            .slider-container{
                .slider{
                    .slide{
                        .quote{
                            width: 95% !important;
                            margin: auto !important;
                            height: 150px !important;
                            background-size: cover;
                            background-position: bottom;
                        }
                        .foto{
                            width: 100%;
                            flex-direction: column;
                            .content{
                                
                                padding-top: 20px !important;
                            }
                        }
                    }
                }
            }
            .free{
                h5{
                    font-size: 18px !important;
                }
            }
        }
    }

}
@media screen and (max-width: 678px){
    header{
        background-position: center;
        .container{
            .logo{
                font-size: 25px;
                line-height: 30px;
            }
            .text-left{
                padding-top: 100px !important;
                padding-bottom: 100px !important;
                h3{
                    
                    font-size: 25px;
                    line-height: 30px;
                   
                }
                p{
                    padding-top: 20px;
                    width: 100%;
                    font-size: 16px;
                    line-height: 20px;

                }
                
            }
        }
    }
}
@media screen and (max-width: 576px){
    .toggler{
        left: -5% !important;
    }
    .container{
        width: 95%;

    }
    .container>h3{
        font-size: 40px !important;
    }
    #Features{
        .container{
            .cards{
                flex-direction: column !important;
                padding-bottom: 0 !important;
                .card{
                    width: 100% !important;
                    height: fit-content;
                    margin: auto !important;
                    margin-bottom: 80px !important;
                    .nalt{
                        height: 190px;
                        p{
                            width: 100% !important;
                            padding-top: 120px;
                            padding-left: 80px;
                        }
                    }
                    .posht{
                      height: fit-content !important;
                      padding-bottom: 30px !important;
                        p{
                            width: 90% !important ;
                        }
                    }
                }
            }
        }

    }
    
    #Services{
        .container{
            .items{
                flex-direction: column;
                justify-content: center;
                .item{
                    text-align: center;
                    width: 90%;
                    margin: auto;
                    align-items: center;
                    margin-bottom: 100px !important;
                    p{
                        width: 100%;
                        margin: auto;
                    }
                }
            }
        }
    }
    footer{
        .container{
            .nav{
                margin-top: 30px!important;
                p{
                    font-size: 20px !important;
                    line-height: 25px !important;
                    padding-bottom: 15px !important;
                }
                a{
                    font-size: 16px !important;
                    line-height: 20px !important;
                }
                .f2{
                 font-size: 20px !important;
                }
            }
            .cnt{
                .f2{
                    margin-top: 20px !important;
                    font-size: 16px !important;
                    line-height: 20px !important;
                }
            }
            
        }
      
    }

}
@media screen and (max-width: 580px){
    .container>h3{
        &:after{
            opacity: 0 !important;
        }
    }
}










