<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" /> 
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> 
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="css/style.css" />
    <!-- <link rel="icon" href="./img/icon.png" /> -->
    <title>Report Garden</title>
  </head>
<body>
    <header>
        <div class="container">
            <nav>
                <div class="logo">
                   @@logo
                </div>
                <button class="toggler">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="nav-links">
                    <ul>
                        <li><a href="about.html" class="feat">Features</a></li>
                        <li><a href="#">Reports</a></li>
                        <li><a href="#">Dashboards</a></li>
                        <li><a href="#">Enterprise</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Free Trail</a></li>
                        
                        
                    </ul>
                </div>
            </nav>
    
            <div class="text-left">
                <h3>
                    @@title1   <br>
                     @@title2 <span>@@span</span> 
                </h3>
                <p>@@content</p>
    
                    <a href="#">Request for Demo </a>
            </div>
    
        </div>
    </header>
